<html>
    <head>
        <title>Kubelunch - Lunch Picker</title>
    	<style>
    	    html, body { height: 100%; background-color: #90c0de; overflow: hidden; }
    	    h1 {
    	        position: absolute;
    	        top: 50%;
    	        left: 0;
    	        right: 0;
    	        margin: -110px 0 0 0;
    	        height: 220px;
    	        text-align: center;
    	        color: #1c7bb7;
    	        font-family: Arial, serif;
    	        font-size: 72px;
    	        line-height: 76px;
    	        font-weight: bold;
    	    }
    	</style>
    </head>
    <body>
        <h1>Hello, todays lunch is <br> {{ kubelunch.lunch }}!</h1>
		<h3>Send from IP address: {{ kubelunch.clientip }} <br> </h3>
    </body>
</html>
